/Projects/zstack/Tools
/Projects/zstack/Samples/GenericApp/CC2530DB/RouterEB
/Projects/zstack/Samples/GenericApp/CC2530DB/CoordinatorEB
/Projects/zstack/Samples/GenericApp/CC2530DB/settings
/Projects/zstack/Samples/GenericApp/CC2530DB/GenericApp.dep
/Projects/zstack/Samples/GenericApp/CC2530DB/GenericApp.ewd
/Projects/zstack/Samples/GenericApp/CC2530DB/GenericApp.ewp
/Projects/zstack/Samples/GenericApp/CC2530DB/GenericApp.eww
/Projects/zstack/Samples/GenericApp/CC2531
